html,
body {
  margin: 0;
}

.everything {
  background-image: linear-gradient(-30deg, #1807e6, #d9116e);
  color: #fff;
  margin: 0;
  padding: 5%;
  height: 600px;
  h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 300%;
    margin-top: 0;
  }
  .date {
    font-family: "Julius Sans One", sans-serif;
    font-size: 100%;
    padding: 1%;
    padding-left: 0;
    input {
      display: flex;
      margin: 1%;
      margin-left: 0;
    }
  }
}
